* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerText {
    font-size: 32px;
}

.footerText {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

a:visited { 
    text-decoration:none;
    color: white;
   }

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    padding: 12px;
  }

  .footer {
    margin-top: 40px;
  }

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.gridButton {
    display: flex;
    flex: 0 1 1;
    margin: 8px;
    padding: 10px 18px;
    max-width: fit-content;
    max-height: fit-content;
}

.gridContainer {
    display: flex;
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 700px;
    width: 700px;
    border: 2px solid grey;
}

.row {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    min-width: none;
    min-height: none;
    height: 100%;
    width: auto;
}

.column {
    display: flex;
    transition: all 0.3s;
    flex: 1 1;
    min-width: none;
    min-height: none;
    height: 100%;
    width: auto;
    padding: auto;
    margin: 0px;
    border: .05px solid rgb(207, 196, 196);
}

.activated {
    background-color: rgb(117, 114, 114);
}